/**
 * @license
 * MyFonts Webfont Build ID 3544439, 2018-03-20T02:30:28-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: SofiaPro-Bold by Mostardesign
 * URL: https://www.myfonts.com/fonts/mostardesign/sofia-pro/bold/
 * Copyright: Copyright &#x00A9; Olivier Gourvat - Mostardesign Type Foundry, 2016. All rights reserved.
 * Licensed pageviews: 10,000
 * 
 * 
 * License: https://www.myfonts.com/viewlicense?type=web&buildid=3544439
 * 
 * © 2018 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("/count/361577");

  
@font-face {font-family: 'SofiaPro-Bold';src: url('webfonts/361577_0_0.eot');src: url('webfonts/361577_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/361577_0_0.woff2') format('woff2'),url('webfonts/361577_0_0.woff') format('woff'),url('webfonts/361577_0_0.ttf') format('truetype');}
 