/* GRID TEMPLATE AREAS */
section#dealership { grid-area: dealership; }
section#providers { grid-area: service-providers; }
section#transportation { grid-area: transportation-sector; }
div.cta { grid-area: cta; }
div.desc_container { grid-area: desc-container; grid-row: 1; }
img.tier_illox2 { grid-area: tier-illox2; grid-row: 2; }
div.infographic_container { grid-area: infographic-container;  grid-row: 3;}

div.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, min-content);
  grid-template-areas:
    "dealership"
    "service-providers"
    "transportation-sector"
    "cta";
  justify-items: center;
  text-align: center;
}
div.wrapper h2 {
  margin-top: 110px;
  margin-bottom: 35px;
}
p.sub {
  color: white;
  font-size: 18.2px;
  font-weight: 300;
  line-height: 1.6;
  margin-left: 10.565vw;
  margin-right: 10.565vw;
}
p.tag {
  color: #31B9E0;
  font-weight: 300;
  line-height: 1.4;
}
img.tier_illox2 {
  width: 17.5rem;
  height: 17.5rem;
  margin-bottom: 40px;
}
section#lifecycle > div.cta > button.btn.btn-mt {
  padding-left: 90px;
  padding-right: 90px;
}
button.btn-mt {
  padding-left: 40px;
  padding-right: 40px;
}
footer img {
  justify-self: center;
  height: 25rem;
  width: 25rem;
}
div.footer_links {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  grid-gap: 25px;
}
a.footer-text {
  margin-top: 0px;
}

/* IMAGES */
section#dealership {
  background: url("../../images/new_assets/tier\ 1\ lower\ right\ corner@2x.png");
  background-position: bottom right;
  background-size: 43%;
  background-repeat: no-repeat;
}
section#providers {
  background: url("../../images/new_assets/tier\ 2\ upper\ left\ corner@2x.png"),
    url("../../images/new_assets/tier\ 2\ lower\ right\ corner@2x.png");
  background-position: top left, bottom right;
  background-size: 33%, 33%;
  background-repeat: no-repeat, no-repeat;
}
section#transportation {
  background: url("../../images/new_assets/tier\ 3\ lower\ left\ corner@2x.png");
  background-position: bottom left;
  background-size: 130%;
  background-repeat: no-repeat;
}

@media screen and (min-width: 869px) {
  div.wrapper h2 {
    margin-bottom: 4.4vw;
  }
  p.sub {
    font-size: 26px;
    margin-bottom: 83px;
  }
  div.infographic_container {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
  }
  p.tag {
    font-size: 21px;
    width: 230px;
  }
  p.tag:nth-of-type(1) { grid-column: 1; grid-row: 1; }
  p.tag:nth-of-type(2) { grid-column: 1; grid-row: 2; }
  p.tag:nth-of-type(3) { grid-column: 3; grid-row: 1; }
  p.tag:nth-last-of-type() { grid-column: 3; grid-row: 2; }

  /* Transportation p.tags */
  section#transportation p.tag:nth-of-type(1) { grid-column: 1; grid-row: span 2 / -1; }
  section#transportation p.tag:nth-of-type(2) { grid-column: 3; grid-row: 1; }
  section#transportation p.tag:nth-of-type(3) { grid-column: 3; grid-row: 2; }
  /* IMAGES */
  img.tier_illox2 {
    grid-column: 2;
    grid-row: span 2 / -1;
    margin-bottom: 0vw;
  }
  section#dealership { background-size: 33%; }
  section#providers { background-size: 20% 8%, 23% 9%; }
  footer img {
    height: 18rem;
    width: 18rem;
  }
}

@media screen and (min-width: 597px) and (max-width: 868px) {
  section#dealership,
  section#providers,
  section#transportation {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, min-content);
    grid-template-areas:
      "desc-container"
      "tier-illox2"
      "infographic-container"
      "cta";
    justify-items: center;
  }
  div.wrapper h2 {
    grid-column: span 4;
  }
  p.sub {
    margin-left: 127px;
    margin-right: 127px;
    margin-bottom: 50px;
  }
  div.infographic_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, max-content);
    justify-content: space-between;
    justify-items: center;
    width: 90%;
  }
  div.infographic_container.last { grid-template-columns: repeat(3, 1fr); }
  img.tier_illox2 { grid-column: span 4; grid-row: 1; }

  p.tag {
    width: 120px;
  }

  /* IMAGES */
  section#dealership {
    background: url("../../images/new_assets/tier\ 1\ lower\ right\ corner@2x.png");
    background-position: bottom right;
    background-size: 43%;
    background-repeat: no-repeat;
  }
  section#providers {
    background: url("../../images/new_assets/tier\ 2\ upper\ left\ corner@2x.png"),
      url("../../images/new_assets/tier\ 2\ lower\ right\ corner@2x.png");
    background-position: top left, bottom right;
    background-size: 33%, 33%;
    background-repeat: no-repeat, no-repeat;
  }
  section#transportation {
    background: url("../../images/new_assets/tier\ 3\ lower\ left\ corner@2x.png");
    background-position: bottom left;
    background-size: 130%;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 596px) {
  div.wrapper h2 {
    font-size: 32px;
		margin-top: 100px;
  }
	div.wrapper p.tag {
    margin-left: 12.5vw;
    margin-right: 12.5vw;
    margin-top: 25px
  }
  div.wrapper p:nth-child(5n+1),
  div.wrapper img:nth-child(n+1),
  p.sub {
		margin-top: 46px
  }
	div.wrapper button:nth-child(n+1){
		margin-top: 55px;
		margin-bottom:74px;
  }
  div.lifecycle div.cta {
    grid-row: 6;
  }
  section#dealership,
	section#providers,
	section#transportation {
		display: grid;
		grid-template-rows: repeat(8, min-content);
		justify-items: center;
		text-align: center;
  }

  footer img {
    height: 15rem;
    width: 15rem;
  }
  div.footer_links {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, max-content);
    justify-content: center;
    grid-gap: 25px;
  }
  /* IMAGES */
  .letschat__pin img { width: 4.25em; }
  img.tier_illox2 {
    height: 81.25vw;
    width: 81.25vw;
  }

  .tier-1-corner {
    background: url("../../images/new_assets/tier\ 1\ lower\ right\ corner@2x.png")
      bottom right / 8rem no-repeat;
  }
  .tier-2-corner {
	  background: url("../../images/new_assets/tier\ 2\ lower\ right\ corner@2x.png")
		  bottom right / 15rem no-repeat;
  }
  .tier-3-corner {
    background: url("../../images/new_assets/tier\ 3\ lower\ left\ corner@2x.png")
      bottom left / 52rem no-repeat;
  }
}