	.featured__container {
		display: grid;
		grid-template-rows: 1fr;
		align-items: end;
	}
@media screen and (min-width: 869px) {
	div.letschat__pin img {
		float: right;
		top: 3.125em;
		width: 45%;
	}
	.featured__container {
		background: url("../../images/new_assets/featured.image.png")
		41% 22% / 245vw no-repeat;
		height: 62vw;
	}
	.featured__container h1 {
		width: 80%;
		margin-left: 12.674vw;
		margin-bottom: 0vw;
	}
	.btn-ft {
		margin-top: 58px;
	}
}

@media screen and (min-width: 597px) and (max-width: 868px) {
	div.letschat__pin img {
		float: right;
		top: 3.125em;
		width: 45%;
	}
	.featured__container {
		background: url("../../images/new_assets/featured.image.png")
		41% 24% / 300vw no-repeat;
		height: 70vw;
	}
	.featured__container h1 {
		width: 80%;
		margin-left: 10.05vw;
		margin-bottom: 0vw;
	}
	.btn-ft {
		margin-top: 38px;
	}
}

@media screen and (max-width: 596px) {
  .featured__container {
		background: url("../../images/new_assets/featured.image.png")
			43% 20% / 500% 175% no-repeat;
		height: 112.5vw;
	}

	.featured__container h1 {
		width: 70%;
		margin-left: 12.65vw;
		margin-bottom: 0vw;

	}
}