/* GRID TEMPLATE AREAS */
h2.tagline { grid-area: tagline; }
p.desc { grid-area: desc; }
div.tier-1 { grid-area: tier-1; }
div.tier-2 { grid-area: tier-2; }
div.tier-3 { grid-area: tier-3; }
div.cta {
  grid-area: cta;
  justify-self: center;
}
.data__container {
  display: grid;
  grid-template-columns: 1fr;
}
p.desc {
  font-weight: 300;
  line-height: 1.6;
}
div.tier-1,
div.tier-2,
div.tier-3 {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  justify-items: center;
  text-align: center;
  grid-column-gap: 25px;
}
div.tier-1 { margin-left: 6.5vw; }
div.tier-3 { margin-right: 6.5vw; }
a.tier_links {
  display: inline-grid;
  grid-template-rows: auto repeat(2, min-content);
  justify-items: center;
  text-decoration: none;
}
a.tier_links > h3 {
  grid-row: 1;
  color: var(--secondary-color);
}
a.tier_links > img { grid-row: 2; }
a.tier_links > p {
  grid-row: 3;
  color: #FFFFFF;
  font-weight: 300;
  line-height: 1.8;
  width: 25vw;
}
div.tier-1 > a > img.tier_illo {
  margin-top: 6vw;
  margin-bottom: 4vw;
}
a.tier_links > img:nth-of-type(2n+1) {
  margin-top: 1.815vw;
  margin-bottom: 4vw;
}

/* IMAGES */
.lifecycle-corners {
  background: url("../../images/new_assets/intro\ top\ right\ corner@2x.png"),
    url("../../images/new_assets/intro\ lower\ left\ corner@2x.png");
  background-size: 33%, 70vw 24vw;
  background-position: right top, left bottom;
  background-repeat: no-repeat, no-repeat;
}

@media screen and (min-width: 869px) {
  .data__container {
    grid-gap: 25px;
    grid-template-columns: repeat(3, min-content);
    grid-template-rows: repeat(4, min-content);
    grid-template-areas:
      "tagline tagline tagline"
      "desc desc desc"
      "tier-1 tier-2 tier-3"
      "cta cta cta";
    justify-content: space-between;
  }
  h2.tagline { margin-top: 13.367vw; }
  h2.tagline,
  p.desc {
    margin-left: 12.674vw;
    margin-right: 12.674vw;
  }
  p.desc {
    font-size: 26px;
    margin-bottom: 7.4vw;
    margin-top: 6VW;
  }
  a.tier_links > img:nth-of-type(2n+1),
  div.tier-1 > a > img.tier_illo {
    margin-bottom: 3vw;
  }
  .btn-mt {
    margin-top: 5.7vw;
  }

  /* IMAGES */
  img.tier__label {
    margin-bottom: 28px;
    width: 4rem;
  }
  img.tier_illo {
    width: 14rem;
    height: 14rem;
  }
  .lifecycle-corners {
     background-size: 33%, 31vw 15vw;
  }
}

@media screen and (min-width: 597px) and (max-width: 868px) {
  h3 { font-size: 1.4875rem; }
  .data__container {
    grid-gap: 25px;
    grid-template-columns: repeat(3, min-content);
    grid-template-rows: repeat(4, min-content);
    grid-template-areas:
      "tagline tagline tagline"
      "desc desc desc"
      "tier-1 tier-2 tier-3"
      "cta cta cta";
    justify-content: space-between;
  }
  h2.tagline,
  p.desc {
    margin-left: 10.565vw;
    margin-right: 10.565vw;
  }
  h2.tagline { margin-top: 17.6vw; }
  p.desc {
    font-size: 1.135rem;
    margin-bottom: 7.043vw;
    margin-top: 10.565vw;
  }
  /* IMAGES */
  .lifecycle-corners {
     background-size: 33%, 50vw 23vw;
  }
  img.tier_illo {
    width: 10rem;
    height: 10rem;
  }
  img.tier__label {
    margin-bottom: 20px;
    width: 2.5rem;
  }
}

@media screen and (max-width: 596px) {
	.data__container {
		grid-template-rows: repeat(6, min-content);
		grid-template-areas:
			"tagline"
			"desc"
			"tier-1"
			"tier-2"
			"tier-3"
      "cta";
    justify-items: center;
  }
  h2.tagline { margin-top: 23.44vw; }
  p.desc {
    font-weight: 300;
    line-height: 1.6;
    margin-top:13.75vw;
  }
  h2.tagline,
  p.desc {
    margin-left: 12.65vw;
    margin-right: 12.65vw;
  }
  div.tier-1,
  div.tier-2,
  div.tier-3 {
    display: grid;
    grid-template-rows: min-content min-content min-content;
    justify-items: center;
    margin-left: 12.65vw;
    margin-right: 12.65vw;
  }
  a.tier_links {
    display: block;
    /* justify-items: center; */
  }
  div.cta { display: grid; }
  img.tier__label { grid-row: 1; }
  div.tier-1 h3,
  div.tier-2 h3,
  div.tier-3 h3 {
    grid-row: 2;
    color: var(--secondary-color);
    text-align: center;
  }
  div.tier-1 > .tier__label,
  div.tier-2 > .tier__label,
  div.tier-3 > .tier__label {
    margin-top: 15vw;
  }
  a.tier_links > img:nth-of-type(1) {
    margin-top: 7.815vw;
  }
  a.tier_links > p { display: none; }
  img.tier_illo {
    grid-row: 3;
    margin-top: 14px;
	  width: 62.5vw;
  }
  img.tier__label {
    width: 4rem;
    margin-bottom: 8.75vw;
  }
  /* IMAGES */
  .lifecycle-corners {
    background-size: 33%, 70vw 24vw;
  }
}