<link rel="stylesheet" href="styles/consumer.styles.css">


<div class="container" style="padding-top: 75px;">

    <div class="row">
        <div class="col-md-6 center">
            <h1 class="header">Making Car Ownership Easy</h1>
        </div>
    </div>

    <div class="point-list">
        <div class="row">
            <div class="col-md-6 center">
                <img src="images/consumer/halo-phone-locate-website.png"/>
            </div>
            <div class="col-md-6 order-first order-md-2">
                <div class="section-headline">
                    <h2>Locate:</h2>
                    <h2>Safety and Peace of Mind</h2>
                </div>
                <div class="section">
                    <ul>
                        <li>Reminder of where you parked at a glance.</li>
                        <li>Check on your loved ones who borrow the car.</li>
                        <li>If stolen you can tell police right where they took it.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="section-headline">
                    <h2>Reminder:</h2>
                    <h2>Never Forget</h2>
                </div>
                <div class="section">
                    <ul>
                        <li>Never forget about a service.</li>
                        <li>Notified in a familiar way, via phone notifications.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <img src="images/consumer/halo-phone-alert-website.png" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 center">
                <img src="images/consumer/halo-phone-alert-explained-website.png" />
            </div>
            <div class="col-md-6 order-first order-md-2">
                <div class="section-headline">
                    <h2>Alert:</h2>
                    <h2>Understand your car</h2>
                </div>
                <div class="section">
                    <ul>
                        <li>"Check engine" lights and "Dashboard Indicators" translated into human language.</li>
                        <li>Severity shown in simple colors.</li>
                        <li>Arm you with information to make a decision.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="section-headline">
                    <h2>Schedule Service:</h2>
                    <h2>Fast and Easy</h2>
                </div>
                <div class="section">
                    <ul>
                        <li>Click the alert and pick a time.</li>
                        <li>No calls, no typing info.</li>
                        <li>Reminded of the scheduled appointment the day before and the day of your visit.</li>
                        <li>When you arrive for appointment it is the right person, with the right parts, doing the right job.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <img src="images/consumer/halo-phone-alert-website.png" />
            </div>
        </div>
    </div>
    
</div>