<!-- header -->

    <div class="bgimagedealer">
        <div class="container-fluid">
            <div class="row" style="padding-top: 40px;">
                <div class="col-sm-4 offset-sm-1">
                    <a href="">
                        <img src="../images/icons/halo-dealer-badge-600x138.png" width="300" height="69">
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-7 center">
                    <h1 class="header header-padding-top">Retention tool customers pay for</h1>
                </div>
            </div>
        </div>
    </div>

<!-- end header -->

    <!-- DEALER -->


        <link rel="stylesheet" href="styles/dealer.point-list.css">

        <div class="point-list">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 center">
                        <h1 class="header">Engage your customers</h1>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6 center">
                        <img src="images/consumer/halo-phone-scheduled-service-website.png" />
                    </div>
                    <div class="col-md-6 order-first order-md-2">
                        <div class="section-headline">
                            <h2>Retention:</h2>
                            <h2>Scheduled Service</h2>
                        </div>
                        <div class="section">
                            <ul>
                                <li>Automated notifications to customers about upcoming service.</li>
                                <li>No man power: inbound or outbound.</li>
                                <li>No expense.</li>
                                <li>Perfect Timing: right when they need service</li>
                                <li>Effective channel: mobile phone push notification.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="section-headline">
                            <h2>Retention:</h2>
                            <h2>DTC Initiated Service</h2>
                        </div>
                        <div class="section">
                            <ul>
                                <li>Automated Alerts to customers right when a check engine light (DTC) appears.</li>
                                <li>Translation of that info into something they can understand.</li>
                                <li>Self schedule for the fix / repair directly into the service scheduler..</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="images/consumer/flat-iphone-screenshot-mockup-retention-dtc.png" />
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6 center">
                        <img src="images/consumer/halo-phone-tires-offer-website.png" />
                    </div>
                    <div class="col-md-6 order-first order-md-2">
                        <div class="section-headline">
                            <h2>Retention:</h2>
                            <h2>Send Offers or Alerts</h2>
                        </div>
                        <div class="section">
                            <ul>
                                <li>Send offers to drive customers back into the dealership.</li>
                                <li>Tires.</li>
                                <li>Vehicle Appraisal.</li>
                                <li>Warranty checkup.</li>
                                <li>Safety Recall (dealership initiated).</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


<!-- MARKETPLACE -->

    <div class="container-fluid gradient-bg">
        <div class="row">
            <div class="center col-sm-8">
                <h2 class="header">Halo Marketplace</h2>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 center">
                <img class="icon" src="../images/icons/free-setup-icon-halo-.png">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 center">
                <h3 class="dealer-bold">Free setup</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 center">
                <img class="icon" src="../images/icons/no-contracts-halo.png">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 center">
                <h3 class="dealer-bold">No contracts</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 center">
                <img class="icon" src="../images/icons/only-performance-halo.png">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 center">
                <h3 class="dealer-bold">Pay for only performance</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 center">
                <img class="icon" src="../images/icons/discontinue-anytime-halo.png">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 center">
                <h3 class="dealer-bold">Discontinue anytime</h3>
            </div>
        </div>
        <div class="row" style="padding-bottom: 67px; padding-top: 50px">
            <div class="col-sm-8 center">
                <p class="dealer-blue">Engage all your customers throughout their ownership experience.</p>
                <p class="dealer-blue">New, used, service drive, and past customers.</p>
            </div>
        </div>
    </div>

<!-- end MARKETPLACE -->

<!-- F&I -->

    <div class="container-fluid gradient-bg">
        <div class="row">
            <div class="center col-sm-9">
                <h2 class="header oem-header">Halo F&I</h2>
            </div>
        </div>
    </div>

    <!-- F&I rows -->
    <div class="row">
        <div class="col-sm-4 center">
            <img class="icon" src="../images/icons/free-setup-icon-halo-.png">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 center">
            <h3 class="dealer-bold">Free setup</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 center">
            <img class="icon" src="../images/icons/halo-pay-from-profits.png">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 center">
            <h3 class="dealer-bold">Pay from profits</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 center">
            <img class="icon" src="../images/icons/halo-marketplace.png">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 center">
            <h3 class="dealer-bold">Includes Halo Marketplace</h3>
        </div>
    </div>
    <div class="row" style="padding-bottom: 67px; padding-top: 50px">
        <div class="col-sm-8 center">
            <p class="dealer-blue">Revenue from a product that you can stand behind.</p>
        </div>
    </div>

<!-- end F&I -->

<!-- IMS -->

    <div class="container-fluid gradient-bg">
        <div class="row">
            <div class="center col-sm-9">
                <h2 class="header oem-header">Halo IMS</h2>
            </div>
        </div>
    </div>

    <!-- IMS rows -->
    <div class="row">
        <div class="col-sm-4 center">
            <img class="icon" src="../images/icons/halo-cars-covered-and-cared.png">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 center">
            <h3 class="dealer-bold">100% of cars covered and cared for</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 center">
            <img class="icon" src="../images/icons/halo-marketplace-f&i.png">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 center">
            <h3 class="dealer-bold">
                Includes:
                <ul class="list-unstyled">
                    <li>- Halo Marketplace</li>
                    <li>- Halo F&I</li>
                </ul>
            </h3>
        </div>
    </div>
    <div class="row" style="padding-bottom: 67px">
        <div class="col-sm-8 center">
            <p class="dealer-blue">Find cars easily on the lot and get your customers to them quickly.</p>
            <p class="dealer-blue">Never lose a sale from a dead battery or check engine light.</p>
            <p class="dealer-blue">Secure all your vehicles from theft.</p>
        </div>
    </div>


<!-- end IMS -->

<!-- CTA -->

    <div class="bgimagedealerCTA" style="margin-top: 0px;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-11 center">
                    <p class="white fifty-five dealer-cta-header" style="padding-top: 44px;">Increase customer's loyalty, interactions, engagement and total monthly revenue</p>
                    <h1 class="header one-twenty-five">$57,874</h1>
                </div>
            </div>
            <div class="row-fluid">
                <div class="col-sm-12 center">
                    <form onsubmit="return requestDemo()">
                        <div class="row">
                            <input type="text" class="form-control input-demo col-sm-4 offset-sm-1" id="dealer-name" placeholder="Name*" required>
                            <input type="email" aria-describedby="emailHelp" class="form-control input-demo col-sm-4 offset-sm-2" id="dealer-email" placeholder="Email*" required>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 offset-sm-4">
                                <button id="demo-button" type="submit" class="btn btn-demo">
                                    <span>Request a demo</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <p class="twenty-four">*assumes 205 monthly sales and 40% sell through</p>
        </div>
    </div>

<!-- end CTA -->