
<!-- header -->

    <div class="bgimagedealership" style="padding-top: 120px;">
        <div class="container-fluid">

            <a href="letschat">
                <div class="letschatpin">
                    <img src="../images/assets/let_s.chat@2x.png">
                </div>
            </a>

            <div class="row" style="padding-top: 55px;">
                <div class="center col-sm-8">
                    <h1>Revolutionize Customer Experience</h1>
                </div>
            </div>

            <div class="row">
                <div class="center col-sm-8">
                    <h3 class="twenty-six">Turn one time buyers into loyal repeat customers that consistently come back for service, trade-ins, and upgrades.</h3>
                </div>
            </div>

            <div class="row">
                <div class="center">
                    <button type="submit" class="btn hubspot-button" data-target=".bd-hubspot-modal-lg">
                        <span class="button-text">Give us 15 minutes to show you how</span>
                    </button>
                </div>
            </div>

        </div>
    </div>

<!-- end header -->

<!-- <div id="hubspot-container" class="container">
    <div class="row">
        <div class="col-sm-12" >
            <div id="hubspot-iframe">
            </div>
        </div>
    </div>
</div> -->

<div class="modal fade bd-hubspot-modal-lg" id="hubspot-container" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="margin-top: 100px;">
    <div class="modal-dialog" role="document">
        <div class="modal-content" >
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Schedule a call</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="hubspot-iframe">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- section 2 -->

    <div class="container-fluid bgcornerdealership-section-two left-to-right">
        <div class="row" style="padding-top: 38px;">
            <div class="center col-sm-8">
                <h2>Drivers using Halo are <br>more likely to love their dealer.</h2>
            </div>
        </div>
        <div class="row center">
            <div class="col-sm-2 offset-sm-2">
                <h4>Halo customers schedule service 45% more.</h4>
            </div>
            <div class="col-sm-3">
                <h4>Halo customers are 52% more likely to buy another car at the same dealership.</h4>
            </div>
            <div class="col-sm-3">
                <h4>55% of Halo users would recommend Halo to a friend.</h4>
            </div>
        </div>

        <div class="row">
            <div class="center">
                <button type="submit" class="btn hubspot-button" data-target=".bd-hubspot-modal-lg">
                    <span class="button-text">Increase customer retention</span>
                </button>
            </div>
        </div>
    </div>

<!-- end section 2 -->

<!-- section 3 -->

    <div class="container-fluid bgcornerdealership-section-three right-to-left">
        <div class="row" style="padding-top: 38px;">
            <div class="col-sm-6 offset-sm-2">
                <h2 >Make it easy to schedule service</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 offset-sm-2">
                <h4>Dealerships have seen an 18% increase in new buyers scheduling their first service appointment with Halo.</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 offset-sm-2" style="padding-top: 50px;">
                <img width="100%" style="padding-right:50px;" src="images/assets/schedule.service.image@2x.png">
            </div>
        </div>

        <div class="row">
            <div class="center">
                <button type="submit" class="btn hubspot-button" data-target=".bd-hubspot-modal-lg">
                    <span class="button-text">Improve Your Service Revenue</span>
                </button>
            </div>
        </div>
    </div>

<!-- end section 3 -->

<!-- section 4 -->

    <div class="container-fluid bgcornerdealership-section-four left-to-right">
        <div class="row" style="padding-top: 38px;">
            <div class="col-sm-6 offset-sm-2">
                <h2>The right answer at the right time</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 offset-sm-2">
                <h4>When a check-engine light appears, Halo sends an easy-to-understand alert to scheduler service.</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 offset-sm-3" style="padding-top: 50px;">
                <img height="100%" src="images/assets/flat-iphone-screenshot-mockup-retention-dtc.png">
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 offset-sm-3 center">
                <button type="submit" class="btn hubspot-button" data-target=".bd-hubspot-modal-lg">
                    <span class="button-text">Be there when they need you</span>
                </button>
            </div>
        </div>
    </div>

<!-- end section 4 -->

<!-- section 5 -->

<div class="container-fluid bgcornerdealership-section-five right-to-left">
    <div class="row" style="padding-top: 38px;">
        <div class="col-sm-6 offset-sm-2">
            <h2>A relationship they trust</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5 offset-sm-2" >
            <h4>Halo makes it easy to send offers and updates that build a relationship.</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 offset-sm-3" style="padding-top: 50px;">
            <div class="row">
                <div class="col-12">
                    <img height="100%" class="img-center" src="images/assets/halo-phone-tires-offer-website.png">\
                </div>
            </div>
                <div class="row">
                    <div class="col-12 offset-1">
                        <button type="submit" class="btn hubspot-button" data-target=".bd-hubspot-modal-lg">
                            <span class="button-text">Deliver value easily</span>
                        </button>
                    </div>
                </div>
        </div>
    </div>
</div>

<!-- end section 5 -->

<!-- section 6 -->

<div class="container-fluid gradient">
    <div class="row">
        <div class="col-sm-8 center" style="padding-top: 130px;">
            <h4 class="testimonial">Halo isn't just about a one-time sale in F&I--
                 It is about re-establishing a relevant relationship with each of our guests. Halo
                 makes it easy to re-engage with my store,
                 especially at the point customers are most likely to defect.</h4>
        </div>
    </div>
    <div class="row" style="margin-right: 120px; padding-bottom:74px; padding-top:20px;">
        <div class="col-2 offset-6" id="signature-diagonal"></div>
        <div  class="col-4 offset-7" id="signature">
            <h3 class="black align-right">Russ Humberston</h3>
            <h4 class="black align-right" style="margin-top:0">Dealer Principal, Beaverton Toyota</h4>
        </div>
    </div>
</div>

<!-- end section 6 -->

<!-- section 7 -->

    <div class="container-fluid bg-dark">
        <div class="row" style="padding-top: 38px;">
            <div class="center col-sm-8">
                <h2>Try the retention tool that customers pay for with zero risk</h2>
            </div>
        </div>
        <div class="row">
            <!-- item1 revenue -->
            <div class="col-sm-3 offset-sm-3">
                <div class="row">
                    <div class="col-sm-12 img-center" style="padding-top:60px;">
                        <img width="40%" src="../images/icons/halo-pay-from-profits.png">]
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 img-center" style="padding-top:32px;">
                        <h4 class="twenty-eight">revenue generating</h4>
                    </div>
                </div>
            </div>

            <!-- item 2 contracts -->
            <div class="col-sm-3 offset-sm-1">
                <div class="row">
                    <div class="col-sm-12 center" style="padding-top:60px;">
                        <img width="40%" src="../images/icons/no-contracts-halo.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 center" style="padding-top:32px;">
                        <h4 class="twenty-eight">no contracts</h4>
                    </div>
                </div>

            </div>
        </div>
        <div class="row" style="padding-bottom: 20px;">

            <!-- item 3 performance -->
            <div class="col-sm-3 offset-sm-3">
                <div class="row">
                    <div class="col-sm-12 img-center" style="padding-top:60px;">
                        <img width="40%" src="../images/icons/only-performance-halo.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 img-center" style="padding-top:32px;">
                        <h4 class="twenty-eight">pay only for performance</h4>
                    </div>
                </div>
            </div>

            <!-- item 4 setup -->
            <div class="col-sm-3 offset-sm-1">
                <div class="row">
                    <div class="col-sm-12 center" style="padding-top:22px; padding-left:15px;">
                        <img width="32%" src="../images/icons/free-setup-icon-halo-.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 center">
                        <h4 class="twenty-eight">free set up</h4>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="img-center">
                <button type="submit" class="btn hubspot-button" data-target=".bd-hubspot-modal-lg">
                    <span class="button-text">Give us 15 minutes to show you how</span>
                </button>
            </div>
        </div>

    </div>

<!-- end section 7 -->
