
<!-- header -->

    <div class="bgimagehome">
        <div class="container-fluid">
            <div class="row">
                <div class="center">
                    <h1 class="header header-padding-top">Dealer Driven Adoption</h1>
                </div>
            </div>
        </div>
    </div>

<!-- end header -->

<!-- halo value proposition -->

    <div class="container-fluid">
        <div class="row" style="padding-top: 38px;">
            <div class="center col-sm-10">
                <h2 id="value-header">The last mile from OEM to the customer goes through dealers. Halo builds value for dealers to sell and onboard customers to Automotive Technology Products and Services.</h2>
            </div>
        </div>
        <div class="row">
            <div class="center col-sm-19">
                <img src="images/icons/halo-dec-2017-infographic-web-3.png">
            </div>
        </div>
    </div>

<!-- end halo value proposition -->

<!-- DEALER -->

    <div class="container-fluid dealer-bg">
        <div class="row">
            <div class="col-sm-8 offset-sm-1">
                <h2 class="white forty-eight" style="padding-top: 13px"><a name="dealer">DEALER</a></h1>
            </div>
        </div>
        <div class="row">
            <div class="center col-sm-8">
                <h2 class="header">Retention tool customers pay for.</h2>
            </div>
        </div>
    </div>

    <div class="container-fluid dealer-container">
        <div class="row">
            <div class="col-sm-4 center">
                <img src="images/icons/marketplace-icon-135x105.png">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <h3 class="dealer-bold">Engage all your customers throughout their ownership experience.</h3>
                <p class="dealer-blue">New, used, service drive and past customers.</p>
                <p class="dealer-blue twenty-four"><span class="dealer-how">How: </span> A relationship built on offering value, not selling.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 center">
                <img src="images/icons/drive-icon-135x105.png" class="dealer-image">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <h3 class="dealer-bold">Drive Retention while you sleep.</h3>
                <div class="dealer-blue">DTC's translated into simple language customers can understand. OEM service intervals matched to actual mileage of car to send reminders. All alerts and reminders let customers schedule service with two (2) taps on their phone.</div>
                <div class="dealer-blue twenty-four"><span class="dealer-how">How: </span> Halo has compiled all the DTC's, translated them, added a severity level, validated this with service staff, and integrated with dealership service schedulers. this means customers are scheduling themselves for the right job, with the right person with no effort by the dealer.</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 center">
                <img src="images/icons/help-icon-135x105.png" class="dealer-image">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <h3 class="dealer-bold"><span class="dealer-blue">From simple questions to roadside assistance,</span> support your customers when they need it most with zero manpower or expense.</h3>
                <div class="dealer-blue twenty-four"><span class="dealer-how">How: </span> Most OEM's have complimentary roadside assistance and support information for customers, Halo helps customers easily get to that info or service right when they need it most.</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 center">
                <img src="images/icons/no-calling-icon-135x105.png" class="dealer-image">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <h3 class="dealer-bold">No calling to schedule service (BDC), no mailers, lower cancellation and no-show rate.</h3>
                <div class="dealer-blue twenty-four"><span class="dealer-how">How: </span>Halo delivers alerts and messages to customers through the method they prefer, with precision timing to get maximum engagement without pestering or the need for dealership manpower.</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 center">
                <img src="images/icons/offes-icon-135x105.png" class="dealer-image">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <h3 class="dealer-bold">Send offers that customers car about when they need them most.</h3>
                <div class="dealer-blue twenty-four"><span class="dealer-how">How: </span>Book of offers to choose from that are customized for your dealer. Or, create your own in seconds!</div>
            </div>
        </div>
    </div>

<!-- end DEALER -->

<!-- OEM -->

    <div class="container-fluid oem-bg">
        <div class="row">
            <div class="col-sm-8 offset-sm-1">
                <h2 class="white forty-eight" style="padding-top: 13px"><a name="oem">OEM</a></h1>
            </div>
        </div>
        <div class="row">
            <div class="center col-sm-9">
                <h2 class="header oem-header">Halo takes all the hard work the OEM has been putting into vehicles and creates value for dealerships.</h2>
            </div>
        </div>
    </div>

<!-- oem rows -->
    <div class="container-fluid">
        <div class="row dealer-header">
            <div class="col-sm-8 center">
                <h3 class="sixty-four teal">With one partner, Halo, we do all of the following:</h3>
            </div>
        </div>

    <!-- oem row 1 -->
        <div class="row">
        <!-- integrate -->
            <div class="col-lg-3 offset-lg-1">
                <div class="row">
                    <div class="col-sm-12 center">
                        <img src="images/icons/integrate-icon-135x105.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 oem-feature-desc">
                        <p class="teal">Integrate with all service departments, allowing the oem app or 3rd party apps to schedule service into the dealer.</p>
                    </div>
                </div>
            </div>
        <!-- retrofit -->
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-sm-12 center" style="padding-top: 60px">
                        <img src="images/icons/retrofit-icon-225x45.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 oem-feature-desc">
                        <p class="teal">Retrofit all vehicles with connected systems, regardless of make, model or year.</p>
                    </div>
                </div>
            </div>
        <!-- bring-info -->
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-sm-12 center">
                        <img src="images/icons/bring-info-icon-135x105.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 oem-feature-desc">
                        <p class="teal">Bring all the info, from OEM connected vehicles and retrofitted vehicles, into one interface for dealers.</p>
                    </div>
                </div>
            </div>
        </div>

    <!-- oem row 2 -->
        <div class="row">
        <!-- help dealer -->
            <div class="col-lg-3 offset-lg-1">
                <div class="row">
                    <div class="col-sm-12 center">
                        <img src="images/icons/help-dealer-better-icon-135x105.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 oem-feature-desc">
                        <p class="teal">Help dealer better market, sell and profit from connected car features.</p>
                    </div>
                </div>
            </div>
        <!-- produce reports -->
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-sm-12 center">
                        <img src="images/icons/produce-reports-icon-135x105.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 oem-feature-desc">
                        <p class="teal">Produce reports and do analytics of dealer inventory so they can more efficiently sell vehicles.</p>
                    </div>
                </div>
            </div>
        <!-- differentiation -->
            <div class="col-lg-3">
                <div class="row">
                    <div class="col-sm-12 center">
                        <img src="images/icons/differentiation-icon-225x105.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 oem-feature-desc">
                        <p class="teal">Create differentiation between dealerships to help them be more effective at selling.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- end OEM -->