<a href="letschat">
  <div class="letschat__pin">
    <img src="../images/assets/let_s.chat@2x.png">
  </div>
</a>
<link rel="stylesheet" href="../styles/content/section_featured.css">
<div id="featured" class="featured__container">
  <h1>Halo is powering the automotive data revolution</h1>
  <button class="btn btn-ft">
    Let us show you how
  </button>
</div>

<link rel="stylesheet" href="../styles/content/section_lifecycle.css">
<section id="lifecycle" class="data__container lifecycle-corners">
  <h2 class="tagline">Our Data Monetization Platform</h2>
  <p class="desc">
    Halo is an automotive data monetization platform designed to capture information from every phase of a vehicle's life. Working
    in concert with data that's already been captured, Halo offers tools that help monetize the data coming from vehicles.
    There are three key data capture points in a vehicle's data lifecycle.
  </p>
  <div class="tier-1">
    <img class="tier__label" src="images/new_assets/tier 1 label@2x.png" alt="Tier 1 Label">
    <a href="#dealership" class="tier_links">
      <h3>Dealerships</h3>
      <img class="tier_illo" src="images/new_assets/tier_1_small_illo@2x.png" alt="Tier 1 Illustration">
      <p>
        Use vehicle data to manage fleets and for detailed reporting before cars reach the consumer.
      </p>
    </a>
  </div>
  <div class="tier-2">
    <img class="tier__label" src="images/new_assets/tier 2 label@2x.png" alt="Tier 2 Label">
    <a href="#providers" class="tier_links">
      <h3>Service Providers</h3>
      <img class="tier_illo" src="images/new_assets/tier_2_small_illo@2x.png" alt="Tier 2 Illustration">
      <p>
        Act on data immediately through automated marketing to provide goods and services to car owners when they need it.
      </p>
    </a>
  </div>
  <div class="tier-3">
    <img class="tier__label" src="images/new_assets/tier 3 label@2x.png" alt="Tier 3 Label">
    <a href="#transportation" class="tier_links">
      <h3>Transportation Sector</h3>
      <img class="tier_illo" src="images/new_assets/tier_3_small_illo@2x.png" alt="Tier 3 Illustration">
      <p>
        Anonymized data consumers benefit from the network of vehicles generating valuable gross anoymized data.
      </p>
    </a>
  </div>
  <div class="cta ">
    <button class="btn btn-mt">CTA</button>
  </div>
</section>

<link rel="stylesheet" href="../styles/content/section_wrapper.css">
<div class="wrapper">
  <section id="dealership" class="tier-1-corner">
    <div class="desc_container">
      <h2 class="headline">The Dealership</h2>
      <p class="sub">
        Before a car is even sold to a customer, Halo is already installed and helping the dealership with streamlined inventory
        management tools.
      </p>
    </div>
    <div class="infographic_container">
      <img class="tier_illox2" src="../images/new_assets/tier_1_large_illo@2x.png" alt="Tier 1 Large Illustration">
      <p class="tag">
        Security alerts
      </p>
      <p class="tag">
        Additional parts & accessories revenue
      </p>
      <p class="tag">
        Dealership fleet and inventory management
      </p>
      <p class="tag">
        Vehicle reports and analytics
      </p>
    </div>
    <div class="cta">
      <button class="btn btn-mt">CTA</button>
    </div>
  </section>

  <section id="providers" class="tier-2-corner">
    <div class="desc_container">
      <h2>Service Providers</h2>
      <p class="sub">
        Halo works with service providers to offer marketing automation that connects drivers to products exactly when they need
        them.
      </p>
    </div>
    <div class="infographic_container">
      <img class="tier_illox2" src="../images/new_assets/tier_2_large_illo@2x.png" alt="Tier 2 Large Illustration">
      <p class="tag">
        Pick the exact parameters
      </p>
      <p class="tag">
        Works with dealership service departments and third parties
      </p>
      <p class="tag">
        Full OEM integration
      </p>
      <p class="tag">
        Data security documentation
      </p>
    </div>
    <div class="cta">
      <button class="btn btn-mt">CTA</button>
    </div>
  </section>

  <section id="transportation" class="tier-3-corner">
    <div class="desc_container">
      <h2>The Transportation Sector</h2>
      <p class="sub">
        From governments and municipalities to smart cities and data purchasers, Halo offers fully-anonymized data transactions.
      </p>
    </div>
    <div class="infographic_container last">
      <img class="tier_illox2" src="../images/new_assets/tier_3_large_illo@2x.png" alt="Tier 3 Large Illustration">
      <p class="tag">
        Manage inter- organizational data transfers
      </p>
      <p class="tag">
        OEM retains ownership
      </p>
      <p class="tag">
        Compile and present deals around gross anonymized data
      </p>
    </div>
    <div class="cta">
      <button class="btn btn-mt">CTA</button>
    </div>
  </section>
</div>

<!-- <section id="providers" class="top-left-corner">
  <div class="lower-bottom-right-corner">
    <div class="providers__desc">
      <h2>Service Providers</h2>
      <p>
        Halo works with service providers to offer marketing
        <br /> automation that connects drivers to products exactly when they
        <br /> need them.
      </p>
    </div>
    <div class="providers__infographic">
      <div class="">
        <p class="secu-alerts">
          Pick the exact
          <br /> parameters
        </p>
        <p class="secu-alerts">
          Works with
          <br /> dealership service
          <br /> departments and
        </p>
      </div>
      <div class="">
        <img class="tier-2__label" src="../images/new_assets/tier_2_large_illo@2x.png" alt="Tier 2 Large Illustration">
      </div>
      <div class="">
        <p class="secu-alerts">
          Full OEM integration
        </p>
        <p class="secu-alerts">
          Data security
          <br /> documentation
        </p>
      </div>
    </div>
    <div class="cta">
      <button class="btn">CTA</button>
    </div>
  </div>
</section>

<section id="transportation" class="lower-bottom-left-corner">
  <div class="providers__desc">
    <h2>The Transportation Sector</h2>
    <p>
      From governments and municipalities to smart cities and data
      <br /> purchasers, Halo offers fully-anonymized data transactions.
    </p>
  </div>
  <div class="providers__infographic">
    <div class="">
      <p class="secu-alerts">
        Manage inter-
        <br /> organizational data
        <br /> transfers
      </p>
    </div>
    <div class="">
      <img class="tier-2__label" src="../images/new_assets/tier_3_large_illo@2x.png" alt="Tier 2 Large Illustration">
    </div>
    <div class="">
      <p class="secu-alerts">
        OEM retains
        <br /> ownership
      </p>
      <p class="secu-alerts">
        Compile and present
        <br /> deals around
        <br /> gross anonymized
        <br /> data
      </p>
    </div>
  </div>
  <div class="cta">
    <button class="btn">CTA</button>
  </div>
</section> -->