<!-- header -->

<div class="bgimageletschat">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-7 img-center">
                <h1 style="margin-top: 270px" class="header">Let's Chat</h1>
            </div>
        </div>
    </div>
</div>

<!-- end header -->

<div class="container">
    <div class="row">
        <div class="col-sm-4 offset-sm-4">
            <p style="margin-top: 67px" class="dealer-how img-center">Need Help?</p>
            <p style="margin-top: 34px" class="dealer-how img-center">We're right here.</p>
        </div>
    </div>
    <div style="margin-top: 50px" class="row">
        <div class="col-sm-8 offset-sm-2">
            <p class="dealer-blue">You can chat with us instantly using the widget at the bottom of your screen, or send us an email using the contact form below. In the meantime, feel free to browse the <a class="link-light-green" href="https://www.halocar.me/terms/faqs">FAQ page</a> while we get back to you.</p>
            <p class="dealer-blue">Please enter your contact details and a short message below and we'll get back to you ASAP.</p>
        </div>
    </div>
    <div class="container">
        <form onsubmit="return letsChat()">
            <div class="row">
                <div class="col-sm-12 img-center">
                    <div class="row">
                        <input id="chat-name" type="text" class="form-control input-letschat col-sm-4 offset-sm-1" placeholder="Your Name">
                        <input id="chat-email" type="email" class="form-control input-letschat col-sm-4 offset-sm-2" placeholder="Your Email">
                    </div>
                    <div class="row">
                        <div class="col-sm-10 offset-sm-1 no-padding">
                            <textarea id="chat-message" class="form-control message-area" cols="30" rows="10" placeholder="Your Message"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 offset-sm-1">
                    <div class="checkbox">
                        <label class="eighteen"><input type="checkbox" id="copy-checkbox" value=""> Send me a copy</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 offset-sm-8">
                    <button aria-describedby="emailHelp" type="submit" id="chat-button" class="btn-letschat">Send Message</button>
                </div>
            </div>
        </form>

    </div>

</div>