<!-- header -->

    <div class="bgimageoem">
        <div class="container-fluid">
            <div class="row" style="padding-top: 40px;">
                <div class="col-sm-4 offset-sm-1">
                    <img src="../images/icons/halo-website-oem-badge.png" width="300px" height="69px">
                </div>
            </div>

            <div class="row">
                <div class="col-xl-8 img-center">
                    <h1 class="header">Driving adoption through incentivising dealer channel</h1>
                </div>
            </div>
        </div>
    </div>

<!-- end header -->

<!-- MARKETPLACE -->

    <div class="container-fluid gradient-bg ">
        <div class="row">
            <div class="img-center col-sm-8">
                <h2 class="header">Integration</h2>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 img-center">
                <img class="icon" src="../images/icons/halo-integration-icon.png">
            </div>
        </div>
        <div class="row" style="padding-bottom: 67px; padding-top: 50px">
            <div class="col-sm-8 img-center">
                <p class="dealer-how">Connect apps and services directly into dealerships</p>
            </div>
        </div>
    </div>

    <div class="container-fluid gradient-bg">
        <div class="row">
            <div class="img-center col-sm-8">
                <h2 class="header">Driving adoption of automotive technology</h2>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 img-center">
                <img class="icon" src="../images/icons/halo-driving-adoption.png">
            </div>
        </div>
        <div class="row" style="padding-bottom: 67px; padding-top: 50px">
            <div class="col-sm-8 img-center">
                <p class="dealer-blue"><span class="dealer-how">We turn the data from the vehicle into revenue</span> for automotive dealerships to drive adoption with customers (users).</p>
            </div>
        </div>
    </div>

    <div class="container-fluid gradient-bg">
        <div class="row">
            <div class="img-center col-sm-8">
                <h2 class="header">Data driven engagement</h2>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 img-center">
                <img class="icon" src="../images/icons/halo-data-driven.png">
            </div>
        </div>
        <div class="row" style="padding-bottom: 67px; padding-top: 50px">
            <div class="col-sm-8 img-center">
                <p class="dealer-blue">Halo uses the date from the vehicle to appropriately time service reminders, <span class="dealer-how thirty">translate vehicle health into actionable notifications</span>, and connect behavior & location to create opportunities for service providers.</p>
            </div>
        </div>
    </div>

    <div class="container-fluid gradient-bg">
        <div class="row">
            <div class="img-center col-sm-8">
                <h2 class="header">An ecosystem of services that drivers actually want</h2>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 img-center">
                <img class="icon" src="../images/icons/halo-ecosystem-services-icon.png">
            </div>
        </div>
        <div class="row" style="padding-bottom: 67px; padding-top: 50px">
            <div class="col-sm-8 img-center">
                <p class="dealer-blue">Data, no matter how pretty the graph, is not as engaging.<span class="dealer-how thirty"> that save customers time, money, or frustration. Making car ownership easier in all aspects of ownership.</p>
            </div>
        </div>
    </div>

    <div class="container-fluid gradient-bg">
        <div class="row">
            <div class="img-center col-sm-8">
                <h2 class="header">Scalable, White Labelled Soutions</h2>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 img-center">
                <img class="icon" src="../images/icons/halo-scalable-icon.png">
            </div>
        </div>
        <div class="row" style="padding-bottom: 67px; padding-top: 50px">
            <div class="col-sm-8 img-center">
                <p class="dealer-blue"><span class="dealer-how thirty">Halo is the connection between vehicles, owners, dealers and service providers.</span> We power our own apps, white label interfaces in the head unit or on the phone, or support customer interfaces that simply require integration.</p>
            </div>
        </div>
    </div>