<script type="text/javascript">
    window.addEventListener('load', function () {
        var urlParams = new URLSearchParams(window.location.search);
       
        if (urlParams.has('email')) {
            document.getElementById('support-email').value = urlParams.get('email');
        }
        if (urlParams.has('name')) {
            document.getElementById('support-name').value = urlParams.get('name');
        }
        if (urlParams.has('vin')) {
            document.getElementById('support-vin').value = urlParams.get('vin');
        }
        if (urlParams.has('description')) {
            document.getElementById('support-description').value = urlParams.get('description');
        }
    });
</script>

<div class="container">
    <div class="row">
        <div class="col-sm-12 offset-sm-1" style="padding-top: 120px;">

            <h2 class="dealer-blue" style="margin-top:0px;">Customer Support</h2>

            <form onsubmit="return support()">
                <div class="row" style="padding-bottom: 34px;">
                    <div class="col-sm-5" style="padding-top:34px;">
                        <input id="support-name" type="text" class="form-control input-letschat" placeholder="Customer Name" required>
                    </div>
                    <div class="col-sm-5" style="padding-top:34px;">
                        <input id="support-email" type="email" class="form-control input-letschat" placeholder="Customer Email" required>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-sm-10" style="padding-bottom: 34px;">
                        <input id="support-subject" type="text" class="form-control input-letschat" placeholder="Subject" required>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-sm-10">
                        <input id="support-vin" type="text" class="form-control input-letschat" placeholder="VIN">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10">
                        <textarea id="support-description" class="form-control message-area" cols="30" rows="5" placeholder="Customer Message" required></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <button type="submit" id="support-submit" class="btn-letschat">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row" style="padding-bottom:200px;">
        <div class="col-sm-12 offset-sm-1">
            <h3 class="dealer-blue">Call 888.988.HALO</h3>
        </div>
    </div>
</div>