<div class="container" style="padding: 0; margin:0;">
    <div class="row">
        <iframe
            class="col-lg-12 col-md-12 col-sm-12"
            style="display:block;"
            id="survey-iframe"
            src=""
            width=""
            height=""
        ></iframe>
    </div>
</div>