body {
  background-color: #262339;
  color: white; }

.point-list {
  background: #262339 url("../images/consumer/circle_halftone02tif-crop-u417.png") repeat-y center;
  background-position: center 2%;
  background-size: 100%; }

@media screen and (max-width: 768px) {
  .point-list {
    background-position: center;
    background-size: 130%;
    background-repeat: space;
    opacity: .8; } }
.header {
  font-size: 65px;
  color: #00FFB9;
  font-weight: bold;
  padding-top: 90px; }

.row {
  padding-bottom: 185px; }

.right {
  text-align: right; }

.section-headline {
  padding-bottom: 45px; }

.section-headline, h2 {
  font-size: 45px;
  color: #00FFB9; }

.section {
  font-family: sofia-pro-light;
  font-size: 30px; }

/*# sourceMappingURL=consumer.styles.css.map */
