:root {
	--primary-color: #28283F;
	--secondary-color: #00FFB9;

	/* Constant calculations to help reduce redundant code */
	--vp-720: (100vw - 720px) / 304;
	--vp-320: (100vw - 320px) / 704;
}

@font-face {
	font-family: sofia-pro;
	src: url("../fonts/sofia/sofia-pro-regular.otf") format("opentype");
	font-weight: normal;
}

@font-face {
	font-family: sofia-pro;
	src: url("../fonts/sofia/sofia-pro-light.otf") format("opentype");
	font-weight: 300;
}

@font-face {
	font-family: sofia-pro;
	src: url("../fonts/sofia/sofia-pro-bold.ttf") format("opentype");
	font-weight: 700;
}

html {
	box-sizing: border-box;
	font-family: sofia-pro;
	font-weight: normal;
	background-color: var(--primary-color);
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body { margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.2;
	margin-bottom: 0vw;
	margin-top: 0vw;
}

a { text-decoration: none; }
/* a::after { text-decoration: none; } */

p {
	margin-top: 0px;
	margin-bottom: 0vw;
}

/* Changes font-size from 42px (2.625em) to 29.4px when viewport size changes from 1024 to 720 */
h1 { font-size:calc(253.75% + 17.4 * var(--vp-720)); }
h2 { font-size: calc(183.75% + 12.6 * var(--vp-720)); }
h3 { font-size: 2.125em; }

button {
	border: none;
	font-size: 1em;
	font-weight: 600;
}

header {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr;
	align-items: center;
	height: 70px;
	padding-left: 40px;
	padding-right: 45px;
}

header a {
	color: var(--secondary-color);
	font-weight: 300;
	padding-left: 3.91vw;
	text-decoration: none;
}

footer {
	display: grid;
	grid-template-columns: 1fr;
	color: var(--secondary-color);
	font-weight: 300;
	text-align: center;
}
div.footer_links {
	display: grid;
}
div.footer_links p {
	color: #FFFFFF;
}
footer img {
	width: 100%;
}
a.footer-text {
	color: var(--secondary-color);
	margin-top: 20px;
	text-decoration: underline;
}
a.footer-text.last {
	margin-bottom: 115px;
}
.halo {
	display: grid;
	grid-template-rows: auto 1fr 1fr auto;
	color: #FFFFFF;
	height: 100vh;
}

.letschat__pin {
  position: fixed;
  top: 6.25em;
	right: 0.125em;
}

/* Buttons */
.btn {
	background-color: var(--secondary-color);
	border-radius: 100px;
	color: var(--primary-color);
	justify-self: center;
	height: 50px;
}

.btn-ft {
	margin-bottom: 40px;
	margin-top: 58px;
	padding-left: 30px;
	padding-right: 30px;
}

.btn-mt {
	margin-bottom: 100px;
	margin-top: 28px;
	padding-left: 90px;
	padding-right: 90px;
}

/* Media Queries */
@media screen and (max-width: 596px) {
	/* __DEFAULT TAGS__ */
	h1 { font-size:calc(150% + 24 * var(--vp-320)); }
	h2 { font-size: calc(131.25% + 21 * var(--vp-320)); }
	header {
		padding-right: 1.125em;
	}


	/* __BUTTONS__ */
	.btn-ft,
	.btn-mt {
		height: 9.375vw;
		padding-left: 20px;
		padding-right: 20px;
	}
	.btn-ft {
		margin-top:2.375em;
	}

	.btn-mt {
		grid-row: 6;
		margin-top: 23.125vw;
	}
}
