.bgcornerdealership-section-two {
  background: url("../images/assets/section2.corner.A@2x.png"), url("../images/assets/section2.corner.B@2x.png");
  background-size: 33%, 15%;
  background-position: right top, left bottom;
  background-repeat: no-repeat, no-repeat;
  background-color: #262339; }

.bgcornerdealership-section-three {
  background: url("../images/assets/section3.corner@2x.png");
  background-size: 33%;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-color: #262339; }

.bgcornerdealership-section-four {
  background: url("../images/assets/section4.corner.B@2x.png"), url("../images/assets/section4.corner.A@2x.png");
  background-size: 33%, 15%;
  background-position: left bottom, right top;
  background-repeat: no-repeat, no-repeat;
  background-color: #262339; }

.bgcornerdealership-section-five {
  background: url("../images/assets/section5.corner@2x.png");
  background-size: 33%;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-color: #262339; }

.bgimagedealership-old {
  width: 100%;
  height: 550px;
  margin-top: 75px;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  background-position: center center !important;
  background: url("../images/cover-bridge.png") no-repeat center center; }

@media screen and (max-width: 995px) {
  .bgimagedealership-old {
    height: 700px; } }
.bgimagedealership {
  width: 100%;
  height: 550px;
  /* margin-top: 74px; */
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  background-position: center center !important;
  background: url("../images/assets/feature.image.png") no-repeat center center; }
  @media screen and (max-width: 995px) {
    .bgimagehome-old {
      height: 700px; } }
  .bgimagehome {
    width: 100%;
    height: 550px;
    margin-top: 75px;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-position: center center !important;
    background: url("../images/assets/homepage.feature.image.png") no-repeat center center; }

@media screen and (max-width: 995px) {
  .bgimagedealership {
    height: 700px; } }
.bgimagedealership-retention-corner {
  width: 100%;
  height: 550px;
  margin-top: 74px;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  background-position: center center !important;
  background: url("../images/assets/section2.corner.A@2x.png") no-repeat center center; }

@media screen and (max-width: 995px) {
  .bgimagedealership-retention-corner {
    height: 700px; } }
.bgimageoem {
  width: 100%;
  height: 550px;
  margin-top: 75px;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  background-position: center center !important;
  background: url("../images/car-oem-cover-2.png") no-repeat center center; }

@media screen and (max-width: 995px) {
  .bgimageoem {
    height: 700px; } }
.bgimagedealer {
  width: 100%;
  height: 550px;
  margin-top: 75px;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  background-position: center center !important;
  background: url("../images/car-lot-dealer-website.png") no-repeat center center; }

@media screen and (max-width: 995px) {
  .bgimagedealer {
    height: 700px; } }
.bgimagedealerCTA {
  width: 100%;
  height: 550px;
  margin-top: 75px;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  background-position: center center !important;
  background: url("../images/halo-cta-dealer-website.png") no-repeat center center; }

@media screen and (max-width: 995px) {
  .bgimagedealerCTA {
    height: 700px; } }
.bgimageletschat {
  width: 100%;
  height: 550px;
  margin-top: 75px;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  background-position: center center !important;
  background: url("../images/halo-let-s-chat-contact-us-website.png") no-repeat center center; }

@media screen and (max-width: 995px) {
  .bgimageletschat {
    height: 700px; } }
@font-face {
  font-family: "sofia-pro-regular";
  src: url("../fonts/sofia/sofia-pro-soft-regular.otf") format("opentype"); }
@font-face {
  font-family: "sofia-pro-light";
  src: url("../fonts/sofia/sofia-pro-light.otf") format("opentype"); }
html, body {
  max-width: 100%;
  overflow-x: hidden; }

body {
  font-family: sofia-pro-regular, sans-serif;
  font-size: 30px; }

h1 {
  color: #FFFFFF;
  font-family: "SofiaPro-Bold", "sans-serif";
  font-size: 58px;
  line-height: 71px; }

h2 {
  margin-top: 130px;
  color: #FFFFFF;
  font-family: "SofiaPro-Bold", "sans-serif";
  font-size: 42px;
  line-height: 52px; }

h3 {
  color: #FFFFFF;
  font-family: "sofia-pro-light", "sans-serif";
  font-size: 36px;
  line-height: 32px; }

h4 {
  margin-top: 40px;
  color: #FFFFFF;
  font-family: "sofia-pro-light", "sans-serif";
  font-size: 21px;
  line-height: 32px; }

.left-to-right {
  border-width: 1.8px;
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-image: linear-gradient(to right, #00FFB9, #262339 100%) 100; }

.right-to-left {
  border-width: 1.5px;
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-image: linear-gradient(to left, #00FFB9, #262339 100%) 100; }

.letschatpin {
  position: fixed;
  top: 100px;
  right: 10px; }

.letschatpin img {
  width: 100px; }

.testimonial {
  color: black;
  line-height: 50px;
  font-size: 32px;
  font-family: 'sofia-pro-light', "sans-serif"; }

#signature-diagonal {
  border-top: 1px solid black;
  transform: rotate(-45deg);
  margin-top: 90px; }

#signature {
  white-space: nowrap; }

#signature h3 {
  white-space: nowrap;
  font-family: "SofiaPro-Bold", "sans-serif"; }

.hubspot-button {
  height: 50px;
  background-color: #00FFB9;
  border-radius: 100px;
  font-size: 18px;
  margin-bottom: 45px;
  margin-top: 45px; }

.align-right {
  text-align: right; }

.button-text {
  padding-right: 30px;
  padding-left: 30px; }

#alert-container {
  margin-top: 120px !important;
  font-size: 36px;
  position: fixed;
  visibility: hidden;
  text-align: 'center'; }

#halo-navbar {
  -webkit-box-shadow: 0px 10px 9px -4px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 0px 10px 9px -4px rgba(0, 0, 0, 0.53);
  box-shadow: 0px 10px 9px -4px rgba(0, 0, 0, 0.53);
  height: 75px !important;
  padding-top: 0;
  padding-bottom: 0; }

.navbar-brand {
  padding-left: 40px;
  padding-top: 0;
  padding-bottom: 0; }

.navbar-fixed-top {
  height: 0px; }

.navbar {
  min-height: 0px; }

.gradient {
  background: linear-gradient(135deg, #00FFB9, #19DCCD, #4A96F4); }

.bg-dark {
  background-color: #262339 !important; }

nav {
  min-height: 75px;
  font-size: 24px; }

.nav-link {
  color: #00FFB9 !important; }

.nav-item {
  float: right; }

.nav-item-padding {
  padding-right: 45px; }

.nav-item-padding-next-right{
  padding-right: 45px; }

.upper_right {
  position: absolute;
  top: 0;
  right: 0%; }

.icon {
  padding-bottom: 32px;
  padding-top: 50px; }

.gradient-bg {
  background: linear-gradient(#5FDDF2, #4A96F4); }

.center {
  margin: auto;
  text-align: left; }

.img-center {
  margin: auto;
  text-align: center; }

.no-padding {
  padding: 0; }

.header {
  color: white;
  font-size: 8.5vmin;
  font-weight: lighter;
  font-family: 'sofia-pro-regular', "sans-serif";
  padding-top: 40px;
  padding-bottom: 30px; }

.white {
  color: white; }

.black {
  color: black; }

.teal {
  color: #31B9E0; }

.eighteen {
  font-size: 18px; }

.sixteen {
  font-size: 16px; }

.twenty-four {
  font-size: 24px; }

.twenty-six {
  font-size: 26px; }

.twenty-eight {
  font-size: 28px; }

.forty-eight {
  font-size: 48px; }

.fifty-five {
  font-size: 55px; }

.sixty-four {
  font-size: 64px; }

.one-twenty-five {
  font-size: 125px; }

.header-padding-top {
  padding-top: 152px; }

.bgimage h1 {
  margin-top: 120px;
  color: white; }

.dealer-container {
  padding-top: 67px;
  padding-bottom: 67px; }

.dealer-header {
  padding-top: 67px;
  padding-bottom: 160px; }

.dealer-bg {
  background: linear-gradient(#5FDDF2, #4A96F4);
  height: 362px; }

.dealer-how {
  font-weight: bold;
  color: black; }

.dealer-bold {
  font-weight: bold; }

.dealer-blue {
  color: #4A90E2; }

.dealer-image {
  padding-top: 50px;
  padding-bottom: 16px; }

.btn-demo {
  margin-top: 30px;
  background: white;
  color: black;
  border-radius: 60px;
  height: 60px;
  font-size: 2.5vw;
  font-weight: bold;
  width: 100%; }

.input-demo {
  height: 54px;
  border: 5px white solid;
  border-radius: 60px;
  background-color: transparent;
  text-align: center;
  font-size: 24px;
  color: white; }

.input-demo:focus {
  background-color: transparent;
  color: white; }

.input-demo::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: white; }

.input-demo::-moz-placeholder {
  /* Firefox 19+ */
  color: white; }

.input-demo:-ms-input-placeholder {
  /* IE 10+ */
  color: white; }

.input-demo:-moz-placeholder {
  /* Firefox 18- */
  color: white; }

@media screen and (max-width: 576px) {
  .btn-demo {
    font-size: 5vw; } }
.input-letschat {
  height: 54px;
  border: 5px #4A90E2 solid;
  border-radius: 27px;
  background-color: transparent;
  text-align: center;
  font-size: 24px;
  color: #9B9B9B; }

.message-area {
  margin-top: 34px;
  border: 5px #4A90E2 solid;
  border-radius: 27px; }

::-webkit-input-placeholder {
  text-align: center;
  line-height: 200px; }

:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
  line-height: 200px; }

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
  line-height: 200px; }

:-ms-input-placeholder {
  text-align: center;
  line-height: 200px; }

.btn-letschat {
  margin-top: 30px;
  margin-bottom: 90px;
  background: #50E3C2;
  color: white;
  border-radius: 27px;
  height: 54px;
  font-size: 20px;
  font-weight: bold;
  width: 285px; }

.link-light-green {
  color: #50E3C2; }

@media screen and (min-width: 576px) {
  .oem-bg {
    background: linear-gradient(#5FDDF2, #4A96F4);
    height: 35vw; } }
.oem-bg {
  background: linear-gradient(#5FDDF2, #4A96F4);
  height: 50vmin; }

.oem-header {
  font-size: 6vmin !important; }

.oem-feature-desc {
  padding-top: 38px; }

.footer {
  border-top: 1px solid #00FFB9;
  font-size: 22px; }

.follow-us {
  font-family: "SofiaPro-Bold";
  font-weight: bold;
  font-size: 32px;
  color: #4A96F4; }

.social {
  margin: 20px; }

.footer-text {
  font-family: sofia-pro-regular;
  font-weight: lighter;
  font-size: 18px;
  color: #19DCCD !important; }

@media screen and (max-width: 576px) {
  .nav-item {
    padding-left: 0px !important; }

  .header {
    font-size: 13vmin; }

  .oem-header {
    padding-top: 20px;
    font-size: 6vmin !important; }

  .dealer-cta-header {
    font-size: 6vmin; } }
@media screen and (max-width: 768px) and (min-width: 576px) {
  .header {
    font-size: 12vmin; }

  .oem-header {
    padding-top: 20px;
    font-size: 6vmin !important; }

  .dealer-cta-header {
    font-size: 6vmin; } }
@media screen and (max-width: 1364px) and (min-width: 768px) {
  .dealer-cta-header {
    font-size: 4vmin; }

  .oem-header {
    padding-top: 20px;
    font-size: 6vmin !important; } }

/*# sourceMappingURL=styles.css.map */
